{% extends "base.html.twig" %}

{% block body %}



    
     <div class="textColorWhite">
        <h1 class="textColorWhite">{{ form_start(form) }}</h1>


             <div class="form-group">                   
                        {{ form_email(form.field, {'attr': {'class': 'textColorWhite'}} ) }}                       
                        {{ form_row(form.subject, {'attr': {'class': 'form-control'}} ) }}
                        {{ form_row(form.message, {'attr': {'class': 'form-control'}} ) }}
                        {{ form_row(form.file, {'attr': {'class': 'form-control'}} ) }}
                        <p></p>
                        {{ form_row(form.submit, {'attr': {'class': "btn btn-primary"}} ) }}
            </div>
        {{ form_end(form) }} 
    </div> 
        
{% endblock %}
