{% extends "base.html.twig" %}

{% block body %}
<p></p>

<div class="p-3 mb-2 bg-dark text-white">
    Support
    <p></p>
    <p></p>
</div>





    <div class="container">
    

    {{ form_start(form) }}


        <div class="form-group">                   
                    {{ form_row(form.email, {'attr': {'class': 'form-control'}} ) }}                       
                    {{ form_row(form.subject, {'attr': {'class': 'form-control'}} ) }}
                    {{ form_row(form.message, {'attr': {'class': 'form-control'}} ) }}
                    {{ form_row(form.file, {'attr': {'class': 'form-control'}} ) }}
                    <p></p>
                    {{ form_row(form.submit, {'attr': {'class': 'btn btn-secondary'}} ) }}
        </div>
    {{ form_end(form) }}
 </div>
        
{% endblock %}
