{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
<p></p>

<div class="p-3 mb-2 bg-info text-white">


    <p>Intel about the user</p>
</div>
<p></p>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">firstname</th>
      <th scope="col">login</th>
      <th scope="col">password</th>
      <th scope="col">creditCardNumber</th>
      <th scope="col">role</th>
    </tr>
  </thead>
  <tbody>
{% for key, user in tableau %}
    <tr>
      <th scope="row">{{key + 1}}</th>
      <td>{{ user.firstname }}</td>
      <td>{{ user.id }}</td>
      <td>{{ user.password   }}</td>
      <td>{{ user.creditCardNumber   }}</td>
      <td>{{ user.role   }}</td>
    </tr>
{% endfor %}
  </tbody>
</table>


{% endblock %}