{% extends 'base2.html.twig' %}
{% block title %}Home{% endblock %}
{% block body %}
<p></p>
<h5 class="textColorBlack">to test</h5>

<p></p>
<table class="table">
  <thead>
    <tr>
      <th scope="col"><p class="textColorWhite">#</p></th>
      <th scope="col"><p class="textColorWhite">firstname</p></th>
      <th scope="col"><p class="textColorWhite">login</p></th>
      <th scope="col"><p class="textColorWhite">password</p></th>
      <th scope="col"><p class="textColorWhite">creditCardNumber</p></th>
      <th scope="col"><p class="textColorWhite">role</p></th>
    </tr>
  </thead>
  <tbody>
<h2 class="textColorBlack">to test</h2>




{% for key, user in tableau %}
    <tr>
      <th scope="row"><p class="textColorWhite">{{key + 1}}</p></th>
      <td><p class="textColorWhite">{{ user.firstname }}</p></td>
      <td><p class="textColorWhite">{{ user.id }}</p></td>
      <td><p class="textColorWhite">{{ user.password   }}</p></td>
      <td><p class="textColorWhite">{{ user.creditCardNumber   }}</p></td>
      <td><p class="textColorWhite">{{ user.role   }}</p></td>
    </tr>
{% endfor %}
  </tbody>
</table>
<h5 class="textColorBlack">to test</h5>
<h5 class="textColorBlack">to test</h5>
<h5 class="textColorBlack">to test</h5>

<img alt="Responsive image" class="img-fluid" src="imageVerte4.PNG" style="width: 588px;">




{% endblock %}